<div>
  <ul>
    <li *ngFor="let message of messages">{{ message }}</li>
  </ul>
  <input [(ngModel)]="newMessage" placeholder="Type your message" />
  <button (click)="sendMessage()">Send</button>
</div>


/* template: `
<!--<div class="chat-container">
  <header>
    <h1>Chat App</h1>
  </header>
  <div class="chat-box">
    <ul class="messages">
      <li *ngFor="let chat of chatMessages">
        <div
          class="message"
          [class.user]="chat.sender === 'user'"
          [class.friend]="chat.sender === 'friend'"
        >
          <img
            [src]="chat.sender === 'user' ? userPic : friendPic"
            alt="Profile"
            class="profile-pic"
          />
          <div class="bubble">
            {{ chat.text }}
          </div>
          <div class="timestamp">{{ chat.timestamp }}</div>
        </div>
      </li>
    </ul>
  </div>
  <footer>
    <input
      [(ngModel)]="message"
      placeholder="Type a message..."
      class="message-input"
    />
    <button (click)="sendMessage()" class="send-button">
      <i class="material-icons">send</i>
    </button>
  </footer>
</div>-->
`,
